services:
  redis:
    image: redis:alpine
    container_name: nest-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=P@ssw0rd123
      
  app:
    build: .
    container_name: nest-app
    ports:
      - "3000:3000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    restart: unless-stopped

volumes:
  redis-data: